
version: '3'

services: #A definição dos containers que fazem parte da aplicação, cada item dentro de services vira um container.
  nginx: #Define o nome do serviço: Esse nome vira o hostname interno na rede Docker, por isso o monitor usa: #URL = "http://nginx"
    build: ./nginx #Instrui o Compose a: Construir a imagem usando o Dockerfile dentro da pasta ./nginx | Equivalente a: docker build -t nginx ./nginx
    container_name: sre_nginx #  Define nome fixo do container, isso facilita: Debug, Logs e Simulação de falhas
    ports:  ###### Mapeia portas | Porta 8080 da sua máquina | Para porta 80 do container | Assim você pode acessar: http://localhost:8080
      - "8080:80"
    restart: unless-stopped
    #restart: always
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost || exit 0"]
      interval: 15s
      timeout: 10s
      retries: 5
      start_period: 20s
  monitor:
    build: ./monitor
    container_name: sre_monitor 
    depends_on: # Garante que o nginx seja iniciado antes do monitor
      - nginx
  prometheus:
    image: prom/prometheus
    container_name: sre_prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus:/etc/prometheus
    depends_on:
      - monitor
  chaos:
    build: ./chaos
    container_name: sre_chaos 
    volumes:
      - ./chaos:/app
      - /var/run/docker.sock:/var/run/docker.sock #Permite que o container controle o Docker host
    working_dir: /app
    depends_on:
      - nginx
    command: sh -c "echo 'Waiting 2 minutes before chaos...'; sleep 120; sh chaos.sh"
  grafana:
    image: grafana/grafana
    container_name: sre_grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
    depends_on:
      - prometheus
  traffic:
    image: curlimages/curl
    command: sh -c "while true; do curl -s -o /dev/null http://localhost:8080; sleep 0.2; done" # Gera o tráfego contínuo (5 req/s) para http://localhost:8080 em loop infinito, simulando carga na aplicação.
    depends_on:
      - nginx
volumes:
  grafana_data:

#Arquivo: docker-compose.yml
#Definir e orquestrar:
#O serviço alvo (nginx)
#O serviço de monitoramento (monitor)
#A rede interna entre eles
#Dependência de inicialização

     